.App {
    background-color: gainsboro;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.field_label {
    display: block;
    margin-top: 20px;
}

.input_field {
    width: 100%;
}

.message_field {
    height: 200px;
}
